Django==5.2  # https://www.djangoproject.com/ LTS latest release
djangorestframework==3.16.1  # https://github.com/encode/django-rest-framework
python-dotenv==1.2.1  # https://github.com/theskumar/python-dotenv
